body {
    margin: 0;
}

.header {
    float: left;
    background-color: #f1f1f1;
    padding: 15px;
    text-align: center;
}
.hear.left{
    width: 75%;
}
.hear.right{
    width: 25%;
}
@media screen and (max-width: 600px) {
    .hear.right, .hear.left {
      width: 100%;
    }
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 40px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

