{% extends "layout.html" %}

{% block title %}
    查询
{% endblock %}

{% block main %}
    <h2>您的股票</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>symbol</td>
                <td>shares</td>
                <td>price</td>
                <td>values</td>
            </tr>
        </thead>
    <tboby>
        {% for per in people %}
        <tr>
            <td>{{per.symbol}}</td>
            <td>{{per.shares}}</td>
            <td>{{per.price}}</td>
            <td>{{per.value}}</td>
        </tr>
        {% endfor %}
    </tboby>
    </table>
    <h3>你的账户余额为：{{cash}}</h3>
    <h3>您的资产总计为:{{total}}</h3>
{% endblock %}
