{% extends "layout.html" %}

{% block title %}
    购买股票
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="symbol" placeholder="股票代码" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="股份数" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">购买</button>
    </form>
{% endblock %}
